body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8eff1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .timer-container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: auto;
  }
  
  .timer-input {
    width: 60px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #dddfe2;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  
  .timer-input:focus {
    border-color: #55acee;
  }
  
  .timer-button {
    margin: 15px 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: #55acee;
    color: white;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .timer-button:hover {
    background-color: #3c93d5;
    transform: scale(1.05);
  }
  
  #current-time {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
  }
  