.header {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo-and-nav {
    display: flex;
    align-items: center;
}

.logo {
    /* SVG 로고의 크기에 맞게 설정하세요 */
    margin-right: 20px; /* Adjust as needed */
}

.nav-left {
    display: flex;
    margin-right: auto; /* This will push the nav-left to the far left */
}

.nav-left .nav-links,
.nav-right .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav-left .nav-links li,
.nav-right .nav-links li {
    margin: 0 10px;
}

.nav-left .nav-links li a,
.nav-right .nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.nav-right .nav-links li a {
    color: #17A1FF; /* 하늘색 */
}
.nav-right .nav-links li a.service-intro {
    color: #ABB1B1; 
}
.nav-left .nav-links li a {
    color: #ABB1B1;
}
.main-content {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust based on your layout */
  }
  
  .banner-1,
  .banner-2 {
      flex: 1; /* Allow each banner to grow */
      box-sizing: border-box; /* Include padding and borders in the element's size */
      margin: 10px; /* Add margin to all sides of the banners */
  }
  
  .banner-1 img,
  .banner-2 img {
      width: 100%; /* Make image fill its container */
      height: auto; /* Keep the aspect ratio */
      display: block; /* Remove extra space below the image */
  }

  .page-body {
    display: flex; /* Establishes a flex container */
    justify-content: center; /* Centers flex items on the main axis (horizontally) */
    padding: 20px; /* Add padding around the content */
}

.banner-1 {
    margin-right: 20px; /* Add right margin to banner-1 */
}

.banner-2 {
    margin-left: 20px; /* Add left margin to banner-2 */
}

.banner-container {
    position: relative;
    width: 616px; /* Match the image width */
}

.carousel-item img {
    border-radius: 15px; /* Adjust the pixel value as needed */
}
